[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-rest-auth = "<=2.1.7"
django-rest-passwordreset = "*"

[dev-packages]

[requires]
python_version = "3.10"
